## Author: Alex topic
## This docker compose file deploys the cross product of cities and topics containers
## for two cities and two topics, that is four containers, on the single host.

version: '3.8'

{% set cities = ["melbourne", "sydney"] %}
{% set topics = ["environment", "transport"] %}

{% set host_count = groups['Crawlers'] | length %}

services:
{% for city in cities %}
  crawler-{{ city }}-{{ host_count }}:
    build: ./
    command: python main.py --credentials-id 2 --couchdb-host {{ couchdb_server }} --couchdb-username {{ couchdb_user }} --city {{ city }} --mode stream --debug 
    expose:
      - 5000
    restart: always
{% endfor %}
