version: '3.8'

services:
{% for i in range(1,2,2) %}
  crawler-{{ i | string }}-melbourne:
    build: ./
    command: python main.py --credentials-id {{ i | string }} --couchdb-host 172.26.130.155:5984 --couchdb-username user --city melbourne --mode stream --debug 
    expose:
      - 5000
    restart: always
  crawler-{{ i | string }}-sydney:
    build: ./
    command: python main.py --credentials-id {{ (i+1) | string }} --couchdb-host 172.26.130.155:5984 --couchdb-username user --city sydney --mode stream --debug 
    expose:
      - 5000
    restart: always
{% endfor %}
