## Author: Alex topic
## This docker compose file deploys the cross product of cities and topics containers
## for two cities and two topics, that is four containers, on the single host.

version: '3.8'

{% set cities = ["melbourne", "sydney"] %}
{% set topics = ["environment", "transport"] %}



{% set host_count = groups['Crawlers'] | length %}

{% set citiesLength = cities | length %}
{% set iterationLength = citiesLength // host_count %}

## if there's one host, iterate for TWO from the equals condition
## if there's two hosts, iterate for ONE from the equals condition

{% for host in groups['Crawlers'] %}
{% if inventory_hostname==host %}

services:
    {% for i in range(loop.index - 1, iterationLength) %}

  crawler-{{ cities[i] }}-{{ host_count }}-{{ i | string }}:
    build: ./
    command: python main.py --credentials-id {{ i | string }} --couchdb-host {{ couchdb_server }} --couchdb-username {{ couchdb_user }} --city {{ cities[i] }} --mode stream --debug 
    expose:
      - 5000
    restart: always
    {% endfor %}

{% endif %}
{% endfor %}
